{% load dajaxice_templatetags %}
<html lang="en">
	<head>
		<title>{% block title %}Django GIT source code hosting {% endblock %}</title>
		<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/prettify.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/jquery-ui.css" rel="stylesheet">
		{% dajaxice_js_import %}
		<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
		<script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
		<script src="{{ STATIC_URL }}/js/jquery.dajax.core.js" type="text/javascript" charset="utf-8"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
		<script src="{{ STATIC_URL }}js/script.js"></script>
		<script src="{{ STATIC_URL }}js/prettify.js"></script>
	</head>

	<body onload="prettyPrint()">
		<div id="header-container">
			<div id="top_user">
				<div class="btn-group pull-right">
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> <i class="icon-user"></i> {% if user.username %}
					{{ user.username }}<span class="caret"></span> </a>
					<ul class="dropdown-menu">
						<li>
							<a href="/users/my/">Profile</a>
						</li>
						<li>
							<a href="/users/my/messages/">Messages</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="/users/logout/">Sign Out</a>
						</li>
					</ul>
					{% else %}
					Anonymous <span class="caret"></span> </a>
					<ul class="dropdown-menu">
						<li>
							<a href="/users/login/">Sign In</a>
						</li>
					</ul>
					{% endif %}
				</div>
			</div>
			{% if user.username %}
			<div id="mess-index">
				<a href="/users/my/messages/"><i class="icon-envelope"></i>&nbsp;<span id="messcount">0</span></a>
			</div>
			{% endif %}
			<div id="search">
				<form method="post" action="/search/redirect/">
					<input id="searchBox" name="searchquery" type="text" class="input-medium search-query">
					<button type="submit" class="btn">
						Search
					</button>
					{% csrf_token %}
				</form>
			</div>
			<div id="header">
				<a href="/">Django GIT source code hosting</a>
			</div>
		</div>
		<div class="container">
			{% block navigation %}
			{% endblock %}
			{% block content %}
			{% endblock %}
		</div>
	</body>
	<script type="text/javascript">
		$('.dropdown-toggle').dropdown();
		$(function() {
			$("#searchBox").autocomplete({
				source : "/search/",
				minLength : 2,
			});
			Dajaxice.userprofile.checkmessages(Dajax.process);
		});
	</script>
</html>
