{% extends "base/index.html" %}
{% block navigation %}
{% include "issues/profilemenu.html" %}
{% endblock %}
{% block content %}
<div class="reponame">
	<b>{{ reponame }}</b>
	<hr />
</div>
<br />
<div class="issuetitle">
	{% if not issue.open %} <i class="icon-lock"></i>&nbsp;{% endif %} {{ issue.title }}
</div>
<br />
<div class="detail-issue-top">
	<b>{{ issue.author }}</b><i> on {{ issue.published.date }} at {{ issue.published.time }}</i>
</div>
<div class="detail-issue-bottom">
	{{ issue.content|linebreaks }}
</div>
{% if comments %}
{% for comment in comments %}
<div class="comment-top">
	{{ comment.comment }}
</div>
<div class="comment-bottom">
	<b>{{ comment.author }}</b><i> on {{ comment.date.date }} at {{ comment.date.time }}</i>
</div>
{% endfor %}
{% endif %}

{% if issue.author.username == user.username %}
<div id="closeopen">
	<form method="post" name="submit" action="{{ href }}issues/{{ issue.id }}/status/">
		<button type="submit" class="btn btn-primary">
			{% if issue.open %}
			Close issue
			{% else %}
			Open issue
			{% endif %}
		</button>
		{% csrf_token %}
	</form>
</div>
{% endif %}

{% if user.username and issue.open or user.username == issue.author.username %}
<div id="write-issue-comment">
	<form action="{{ href }}issues/{{ issue.id }}/post/" method="post">
		<div class="control-group">
			<label class="control-label" for="focusedInput">Comment</label>
			<div class="controls">
				{{ form.comment }}
				<br />
				{{ form.comment.errors|striptags }}
			</div>
		</div>
		<div class="formactions">
			<button type="submit" class="btn btn-primary">
				Add new issue
			</button>
		</div>
		{% csrf_token %}
	</form>
</div>
{% endif %}
{% endblock %}
