<div id="navigation">
	<div id="child">
		<ul class="nav nav-pills" style="text-align: center">
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="{{ href }}">Repository</a>
			</li>
			<li {% if activelink == "add" %} class="active" {% endif %}>
				<a href="{{ href }}issues/add/">Add new issue</a>
			</li>
			<li {% if activelink == "browse" %} class="active" {% endif %}>
				<a href="{{ href }}issues/">Browse issues</a>
			</li>
			<li {% if activelink == "my" %} class="active" {% endif %}>
				<a href="{{ href }}issues/my/">View yours</a>
			</li>
		</ul>
	</div>
</div>