{% extends "base/index.html" %}
{% block navigation %}
{% include "repocontrol/profilemenu.html" %}
{% endblock %}
{% block content %}
<div class="medium_box">
	<div class="well">
		<div style="color: red; text-align: center">
			{{ form.non_field_errors|striptags }}
		</div>
		<form class="form-horizontal" action="/new/" method="post">
			<h2 style="text-align: center">Create new repository</h2>
			<br />
			<div style="color: red; text-align: center">
				{% if mes %} {{ mes }} {% endif %}
			</div>
			<br />
			<fieldset>
				<div class="control-group">
					<label class="control-label" for="focusedInput">Repository name</label>
					<div class="controls">
						{{ form.name }}
						<br />
						{{ form.name.errors|striptags }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="focusedInput">Description</label>
					<div class="controls">
						{{ form.description }}
						<br />
						{{ form.description.errors|striptags }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="focusedInput">Private</label>
					<div class="controls">
						{{ form.private }}
						<br />
						{{ form.private.errors|striptags }}
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">
						Add new repository
					</button>
					<button class="btn" type="reset">
						Reset
					</button>
				</div>
			</fieldset>
			{% csrf_token %}
		</form>
	</div>
</div>
{% endblock %}
