{% extends "base/index.html" %}
{% block navigation %}
{% include "repocontrol/profilemenuindex.html" %}
{% endblock %}
{% block content %}

<div class="firstpage">
	<div id="yourrepos">
		<div id="yours">
			<ul class="nav nav-tabs nav-stacked">
				<li class="active" style="text-align: center">
					<a href="#"><h4>Your repositories</h4></a>
				</li>
				{% if myrepos_new %}
				{% for repo in myrepos_new %}
				<li>
					<a href="/{{ repo.user.id }}/{{ repo.slug }}/"><i class="icon-book"></i>&nbsp;{{ repo.user }}/{{ repo.slug }}</a>
				</li>
				{% endfor %}
				{% endif %}
			</ul>
		</div>

		<div id="team">
			<ul class="nav nav-tabs nav-stacked">
				<li class="active" style="text-align: center">
					<a href="#"><h4>Team</h4></a>
					{% if teamrepos %}
					{% for repo in teamrepos %}
				<li>
					<a href="/{{ repo.user.id }}/{{ repo.slug }}/"><i class="icon-book"></i>&nbsp;{{ repo.user }}/{{ repo.slug }}</a>
				</li>
				{% endfor %}
				{% endif %}
			</ul>
		</div>
	</div>
	<div id="reponews">
		<div class="tabbable" style="margin-bottom: 18px;">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#tab1" data-toggle="tab">All news</a>
				</li>
				<li class="">
					<a href="#tab2" data-toggle="tab">My repositories</a>
				</li>
				<li class="">
					<a href="#tab3" data-toggle="tab">Team repositories</a>
				</li>
			</ul>
			<div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
				<div class="tab-pane active" id="tab1">
					{% if commitscomments %}
					{% for comment in commitscomments %}
					<div class="indexrow">
						<i class="icon-comment"></i>&nbsp;<a href="/users/viewprofile/{{ comment.author.id }}/">{{ comment.author.username }}</a> commented <a href="/{{ comment.repository.user.id }}/{{ comment.repository.slug }}/commit/{{ comment.sha }}/">commit #{{ comment.sha|slice:":5" }}</a> in <a href="/{{ comment.repository.user.id }}/{{ comment.repository.slug }}/">{{ comment.repository.user }}/{{ comment.repository.slug }}</a><span style="float: right">{{ comment.date.time }} {{ comment.date.date }}</span>
					</div>
					{% endfor %}
					<hr />
					{% endif %}
					{% if newrepos  %}
					{% for repo in newrepos %}
					<div class="indexrow">
						<i class="icon-book"></i>&nbsp;<a href="/users/viewprofile/{{ repo.user.id }}/">{{ repo.user.username }}</a> created repository <a href="/{{ repo.user.id }}/{{ repo.slug }}/">{{ repo.user }}/{{ repo.slug }}</a><span style="float: right">{{ repo.created.time }} {{ repo.created.date }}</span>
					</div>
					{% endfor %}
					<hr />
					{% endif %}
					{% if issues %}
					{% for issue in issues %}
					<div class="indexrow">
						{% if issue.label == "1" %}<i class="icon-exclamation-sign"></i>{% elif issue.label == "2" %}<i class="icon-leaf"></i>{% elif issue.label == "3" %} <i class="icon-question-sign"></i>{% endif %}&nbsp;<a href="/users/viewprofile/{{ issue.author.id }}/">{{ issue.author.username }}</a> oppened new <a href="{{ issue.repository.user.id }}/{{ issue.repository.slug }}/issues/{{ issue.id }}/">issue #{{ issue.id }}</a> in <a href="{{ issue.repository.user.id }}/{{ issue.repository.slug }}/">{{ issue.repository.user }}/{{ issue.repository.slug }}</a><span style="float: right">{{ issue.published.date }} at {{ issue.published.time }}</span>
					</div>
					{% endfor %}
					{% endif %}
				</div>
				<div class="tab-pane" id="tab2">
					{% if myrepos_new|slice:":3"  %}
					{% for repo in myrepos_new %}
					<div class="indexrow">
						<i class="icon-book"></i>&nbsp;<a href="/users/viewprofile/{{ repo.user.id }}/">{{ repo.user.username }}</a> created repository <a href="/{{ repo.user.id }}/{{ repo.slug }}/">{{ repo.user }}/{{ repo.slug }}</a><span style="float: right">{{ repo.created.time }} {{ repo.created.date }}</span>
					</div>
					{% endfor %}
					<hr />
					{% endif %}
					{% if myrepos_commitscomments %}
					{% for comment in myrepos_commitscomments %}
					<div class="indexrow">
						<i class="icon-comment"></i>&nbsp;<a href="/users/viewprofile/{{ comment.author.id }}/">{{ comment.author.username }}</a> commented <a href="/{{ comment.repository.user.id }}/{{ comment.repository.slug }}/commit/{{ comment.sha }}/">commit #{{ comment.sha|slice:":5" }}</a> in <a href="/{{ comment.repository.user.id }}/{{ comment.repository.slug }}/">{{ comment.repository.user }}/{{ comment.repository.slug }}</a><span style="float: right">{{ comment.date.time }} {{ comment.date.date }}</span>
					</div>
					{% endfor %}
					<hr />
					{% endif %}
					{% if myrepos_issues %}
					{% for issue in myrepos_issues %}
					<div class="indexrow">
						{% if issue.label == "1" %}<i class="icon-exclamation-sign"></i>{% elif issue.label == "2" %}<i class="icon-leaf"></i>{% elif issue.label == "3" %}<i class="icon-question-sign"></i>{% endif %}&nbsp;<a href="/users/viewprofile/{{ issue.author.id }}/">{{ issue.author.username }}</a> oppened new <a href="{{ issue.repository.user.id }}/{{ issue.repository.slug }}/issues/{{ issue.id }}/">issue</a> in <a href="{{ issue.repository.user.id }}/{{ issue.repository.slug }}/">{{ issue.repository.user }}/{{ issue.repository.slug }}</a><span style="float: right">{{ issue.published.date }} at {{ issue.published.time }}</span>
					</div>
					{% endfor %}
					<hr />
					{% endif %}
					{% if myrepos_issues_comments %}
					{% for comment in myrepos_issues_comments %}
					<div class="indexrow">
						<i class="icon-comment"></i>&nbsp;<a href="/users/viewprofile/{{ comment.author.id }}/">{{ comment.author.username }}</a> commented on <a href="{{ comment.issue.repository.user.id }}/{{ comment.issue.repository.slug }}/issues/{{ comment.issue.id }}">issue #{{ comment.issue.id }}</a> in <a href="/{{ comment.issue.repository.user.id }}/{{ comment.issue.repository.slug }}/">{{ comment.issue.repository.user }}/{{ comment.issue.repository.slug }}</a><span style="float: right">{{ comment.date.time }} {{ comment.date.date }}</span>
					</div>
					{% endfor %}
					{% endif %}
				</div>
				<div class="tab-pane" id="tab3">
					{% if teamrepos  %}
					{% for repo in teamrepos|slice:":3" %}
					<div class="indexrow">
						<i class="icon-book"></i>&nbsp;<a href="/users/viewprofile/{{ repo.user.id }}/">{{ repo.user.username }}</a> created repository <a href="/{{ repo.user.id }}/{{ repo.slug }}/">{{ repo.user }}/{{ repo.slug }}</a><span style="float: right">{{ repo.created.time }} {{ repo.created.date }}</span>
					</div>
					{% endfor %}
					<hr />
					{% endif %}
					{% if teamrepos_commits %}
					{% for comment in teamrepos_commits %}
					<div class="indexrow">
						<i class="icon-comment"></i>&nbsp;<a href="/users/viewprofile/{{ comment.author.id }}/">{{ comment.author.username }}</a> commented <a href="/{{ comment.repository.user.id }}/{{ comment.repository.slug }}/commit/{{ comment.sha }}/">commit #{{ comment.sha|slice:":5" }}</a> in <a href="/{{ comment.repository.user.id }}/{{ comment.repository.slug }}/">{{ comment.repository.user }}/{{ comment.repository.slug }}</a><span style="float: right">{{ comment.date.time }} {{ comment.date.date }}</span>
					</div>
					{% endfor %}
					<hr />
					{% endif %}
					{% if teamrepos_issues %}
					{% for issue in teamrepos_issues %}
					<div class="indexrow">
						{% if issue.label == "1" %}<i class="icon-exclamation-sign"></i>{% elif issue.label == "2" %}<i class="icon-leaf"></i>{% elif issue.label == "3" %}<i class="icon-question-sign"></i>{% endif %}&nbsp;<a href="/users/viewprofile/{{ issue.author.id }}/">{{ issue.author.username }}</a> oppened new <a href="{{ issue.repository.user.id }}/{{ issue.repository.slug }}/issues/{{ issue.id }}/">issue</a> in <a href="{{ issue.repository.user.id }}/{{ issue.repository.slug }}/">{{ issue.repository.user }}/{{ issue.repository.slug }}</a><span style="float: right">{{ issue.published.date }} at {{ issue.published.time }}</span>
					</div>
					{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
