{% extends "base/index.html" %}
{% block navigation %}
{% include "repocontrol/profilemenuindex.html" %}
{% endblock %}
{% block content %}

<div class="firstpage">
	<div id="yourrepos">
		<div id="yours">
			<ul class="nav nav-tabs nav-stacked">
				<li class="active" style="text-align: center">
					<a href="#"><h4>Your repositories</h4></a>
				</li>
				{% if myrepos_new %}
				{% for repo in myrepos_new %}
				<li>
					<a href="/{{ repo.user.id }}/{{ repo.slug }}/"><i class="icon-book"></i>&nbsp;{{ repo.user }}/{{ repo.slug }}</a>
				</li>
				{% endfor %}
				{% else %}
				<li>
					<a href="/new">Create new</a>
				</li>
				{% endif %}
			</ul>
		</div>

		{% if teamrepos %}
		<div id="team">
			<ul class="nav nav-tabs nav-stacked">
				<li class="active" style="text-align: center">
					<a href="#"><h4>Team</h4></a>
					{% for repo in teamrepos %}
				<li>
					<a href="/{{ repo.user.id }}/{{ repo.slug }}/"><i class="icon-book"></i>&nbsp;{{ repo.user }}/{{ repo.slug }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
	</div>
	<div id="reponews">
		<div class="tabbable" style="margin-bottom: 18px;">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#tab1" class="tab1h" data-toggle="tab">All news</a>
				</li>
				{% if user.username %}
				<li class="">
					<a href="#tab2" class="tab2h" data-toggle="tab">My repositories</a>
				</li>
				<li class="">
					<a href="#tab3" class="tab3h" data-toggle="tab">Team repositories</a>
				</li>
				{% endif %}
			</ul>
			<div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
				<div class="tab-pane active" id="tab1">
					<script type="text/javascript">
						Dajaxice.repocontrol.index_news(Dajax.process);
					</script>
				</div>
				<div class="tab-pane" id="tab2"></div>
				<div class="tab-pane" id="tab3"></div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var tb1 = true
	var tb2 = false
	var tb3 = false

	$(".tab2h").click(function() {
		if (!tb2) {
			$("#tab2").append("<div id='spinner'><img src='{{ STATIC_URL }}img/spinner.gif' /></div>")
			Dajaxice.repocontrol.myrepos_news(Dajax.process);
			tb2 = true
		}
	});
	$(".tab3h").click(function() {
		if (!tb3) {
			$("#tab2").append("<div id='spinner'><img src='{{ STATIC_URL }}img/spinner.gif' /></div>")
			Dajaxice.repocontrol.teamrepos_news(Dajax.process);
			tb3 = true
		}
	});
</script>
{% endblock %}
