<div id="navigation">
	<div id="child">
		<ul class="nav nav-pills" style="text-align: center">
			<li {% if activelink == "home" %} class="active" {% endif %}>
				<a href="/">Home</a>
			</li>
			<li {% if not activelink %} class="active" {% endif %}>
				<a href="{{ href }}">Repository</a>
			</li>
			{% if not empty %}
			<li {% if activelink == "files" %} class="active" {% endif %}>
				<a href="{{ href }}files/">Files</a>
			</li>
			<li {% if activelink == "viewcommits" %} class="active" {% endif %}>
				<a href="{{ href }}commits">Commits</a>
			</li>
			<li {% if activelink == "difflist" %} class="active" {% endif %}>
				<a href="{{ href }}difflist/">Diff list</a>
			</li>
			<li {% if activelink == "/users/my/" %} class="active" {% endif %}>
				<a href="{{ href }}issues/">Issues</a>
			</li>
			<li {% if activelink == "team" %} class="active" {% endif %}>
				<a href="{{ href }}team/">Team</a>
			</li>
			{% endif %}
		</ul>
	</div>
</div>