<div id="navigation">
	<div id="child">
		<ul class="nav nav-pills" style="text-align: center">
			<li {% if not activelink %} class="active" {% endif %}>
				<a href="{{ href }}">Repository</a>
			</li>
			<li {% if activelink == "files" %} class="active" {% endif %}>
				<a href="{{ href }}files/">Files</a>
			</li>
			<li {% if activelink == "viewcommits" %} class="active" {% endif %}>
				<a href="{{ href }}commits">Commits</a>
			</li>
			<li {% if activelink == "/users/my/" %} class="active" {% endif %}>
				<a href="{{ href }}issues/">Issues</a>
			</li>
			<li {% if activelink == "/users/my/listkeys/" %} class="active" {% endif %}>
				<a href="/users/my/listkeys">Team</a>
			</li>
			<li {% if activelink == "/users/my/addkey/" %} class="active" {% endif %}>
				<a href="/users/my/addkey">Branches</a>
			</li>
		</ul>
	</div>
</div>