{% extends "base/index.html" %}
{% block navigation %}
{% include "repocontrol/profilemenu.html" %}
{% endblock %}
{% block content %}
{% if empty %}
<div class="alert alert-success">
	<strong>Repository was successfully created.</strong> Please push your files first to <strong>git@localhost:{{ user }}/{{ slug }}</strong>
</div>
{% else %}
<div class="reponame">
	<b>{{ reponame }}</b>
</div>
<div class="repobox">
	{{ repodb.description }}
</div>
<div class="repobox">
	<button class="btn" href="#">
		Download
	</button>
	<button class="btn" href="#">
		Clone
	</button>
	<input type="text" name="repourl" value="git@localhost:{{ reponame }}.git" />
	<button class="btn" href="#">
		New issue
	</button>
	<button class="btn" href="#">
		Collaborators
	</button>
</div>
<div class="newstitle">
	Latest news
	<hr />
</div>
<span style="font-size: 10px">Latest commit on master branch</span>
<br />
<div class="latest-commit-top">
	<i class="icon-info-sign"></i>
	{{ latest_commit.message}}
</div>
<div class="latest-commit-bottom">
	<b>{{ latest_commit.author }}</b> on {{ date.date }} at {{ date.time }} <span class="commit-sha">{{ latest_commit.hexsha }}</span>
</div>
<div class="news">
	{% if latest_issues %}
	{% for issue in latest_issues %}
	<div class="news-small">
		{% if issue.label == "1" %}<i class="icon-exclamation-sign"></i>{% elif issue.label == "2" %}<i class="icon-leaf"></i>{% elif issue.label == "3" %} <i class="icon-question-sign"></i> {% endif %} <a href="/users/viewprofile/{{ issue.author.id }}/">{{ issue.author.username }}</a> oppened new <a href="{{ href }}issues/{{ issue.id }}/">issue</a><span class="timenews">{{ issue.published.date }} at {{ issue.published.time }}</span>
	</div>
	{% endfor %}
	{% endif %}
	<hr />
	{% if issues_latest_comments %}
	{% for c in issues_latest_comments %}
		{% for a in c %}
	<div class="news-small">
		<i class=" icon-pencil"></i> <a href="/users/viewprofile/{{ a.author.id }}/">{{ a.author.username }}</a> commented in <a href="{{ href }}issues/{{ a.issue.id }}/">{{ a.issue.title }}</a><span class="timenews">{{ a.date.date }} at {{ a.date.time }}</span>
	</div>
		 {% endfor %}
	{% endfor %}
	{% endif %}
</div>
{% endif %}
{% endblock %}
