{% extends "base/index.html" %}
{% block navigation %}
{% include "repocontrol/profilemenu.html" %}
{% endblock %}
{% block content %}
<div class="reponame">
	<b>{{ reponame }}</b>
	<hr />
</div>

{% if commit %}
<table id="commitinfo" class="table table-bordered">
	<tbody>
		<tr>
			<th>Author</th>
			<td>{{ commit.author }}</td>
		</tr>
		<tr>
			<th>Date commited</th>
			<td>{{ commit.date }}</td>
		</tr>
		<tr>
			<th>Message</th>
			<td>{{ commit.message }}</td>
		</tr>
		<tr>
			<th>Commit SHA</th>
			<td>{{ commit.sha }}</td>
		</tr>
		<tr>
			<th>Tree</th>
			<td>{{ commit.tree }}</td>
		</tr>
		<tr>
			<th>Parent</th>
			<td>{% for p in commit.parents %} {{ p }} {% endfor %}</td>
		</tr>
	</tbody>
</table>
{% endif %}
<script type="text/javascript">var sha = "{{ commit.sha }}"</script>

{% if diff %}
{% for entry in diff %}
<h3> {% if "deleted file mode" in entry|slice:"1:2"|join:"" %}
deleted
{% elif "new file mode" in entry|slice:"1:2"|join:"" %}
added
{% endif %}
{{entry|slice:"0:1"|join:""}} </h3>
<div id ="{{entry|slice:"0:1"|join:""}}">
	<pre id="commitdiff" class="prettyprint linenums">
{% if "new file mode" in entry|slice:"1:2"|join:"" or "deleted file mode" in entry|slice:"1:2"|join:"" %}{{ entry|slice:"5:"|join:"" }}{% else %}{{ entry|slice:"4:"|join:"" }}{% endif %}
</pre>
</div>
{% endfor %}
{% endif %}

{% if comments %}
<hr />
<h2>Comments</h2>
<div id="comments">
	{% for comment in comments %}
	<div class="comment-top">
		{{ comment.comment|linebreaks }}
	</div>
	<div class="comment-bottom">
		<b>{{ comment.author }}</b><i> on {{ comment.date.date }} at {{ comment.date.time }}</i>
	</div>
	{% endfor %}
</div>
{% endif %}

{% if user.username %}

<div id="write-issue-comment">
	<form action="{{ href }}commit/{{ commit.sha }}/post/" method="post">
		<div class="control-group">
			<label class="control-label" for="focusedInput">Comment</label>
			<div class="controls">
				{{ form.comment }}
				<br />
				{{ form.comment.errors|striptags }}
			</div>
		</div>
		<div class="formactions">
			<button type="submit" class="btn btn-primary">
				Comment
			</button>
		</div>
		{% csrf_token %}
	</form>
</div>

{% endif %}
{% endblock %}