{% extends "base/index.html" %}
{% block navigation %}
{% include "repocontrol/profilemenu.html" %}
{% endblock %}
{% block content %}
<div class="reponame">
	<b>{{ reponame }}</b>
	<hr />
</div>
<div class="branches">
	<select id="branches" name="branch">
		{% if branches %}
		{% for branch in branches %}
		<option value="{{branch}}" {% if branch == chosenbranch %} selected="selected" {% endif %}>{{branch}}</option>
		{% endfor %}
		{% endif %}
	</select>
</div>
<div class="files">
	<table class="table">
		<thead>
			<tr>
				<th>File name</th>
			</tr>
		</thead>
		<tbody id="filesbody">
			<script type="text/javascript">
				Dajaxice.repocontrol.getobjects(Dajax.process, {
					'userid' : pn[1],
					'slug' : pn[2],
					'sha' : '{{ chosenbranch }}'
				});
				$("#branches").click(function() {
					window.location = "/" + pn[1] + "/" + pn[2] + "/files/" + $(this).val()
				});
			</script>
		</tbody>
	</table>
</div>
{% endblock %}