#header-container {
	width: 100%;
	height: 60px;
	background-color: whiteSmoke;
	border-bottom: 1px solid #BFBFBF;
	background-image: -webkit-linear-gradient(top,
	#FAFAFA,
	#F0F0F0);
	background-image: -moz-linear-gradient(top,
	#FAFAFA,
	#F0F0F0);
	background-image: -ms-linear-gradient(top,
	#FAFAFA,
	#F0F0F0);
	background-image: -o-linear-gradient(top,
	#FAFAFA,
	#F0F0F0);
	box-shadow: 0 0 8px 0pxrgba(0, 0, 0, 0.15);
}

#header {
	padding-top: 20px;
	height: 100%;
	margin: 0 auto;
	width: 900px;
	text-align: center;
	font-family: Verdana;
	font-size: 18px;
	color: #3DB8E8;
}

#logo {

}

#top_user {
	float: right;
	margin: 14px 15px 0 0
}

.content {
	border: 1px solid #DDD;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
	padding-bottom: 50px;
	background-color: #F0F0F0;
}

.container {
	margin: auto;
	width: 900px;
	margin-top: 20px;
}

#navigation {
	padding-top: 3px;
	border-radius: 4px;
	margin: 0 0 30px 0;
	background: #EEE;
	border: 1px solid #BBB;
	height: 40px;
	border-bottom: 1px solid #BFBFBF;
	background-image: -webkit-linear-gradient(top,
	#FAFAFA,
	#F0F0F0);
	background-image: -moz-linear-gradient(top,
	#FAFAFA,
	#F0F0F0);
	background-image: -ms-linear-gradient(top,
	#FAFAFA,
	#F0F0F0);
	background-image: -o-linear-gradient(top,
	#FAFAFA,
	#F0F0F0);
	box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 3px #ddd;
	-webkit-box-shadow: 0 0 3px #DDD;
	box-shadow: 0 0 3px #DDD;
}

#child {
	float: right;
	position: relative;
	left: -50%;
	text-align: left;
}

#child ul {
	list-style: none;
	position: relative;
	left: 50%;
}

#chiuld li {
	float: left;
	position: relative;
}/* ie needs position:relative here*/

#search {
	float: right;
	display: inline;
	margin: 17px 30px 0 0;
}

#search input {
	padding: 6px 6px 6px 25px;
	width: 150px;
	height: 24px;
	background: #FAFAFA url("../img/search.png") 1px center no-repeat;
	border: 1px solid #7C9199;
	outline: none;
	border-radius: 4px;
	color: gray;
	box-shadow: 0px 1px 0px 0pxwhite;
}

#loginbox {
	margin: auto;
	width: 400px;
}

input {
	width: 150px;
	height: 30px;
}

.medium_box {
	width: 500px;
	margin: auto;
}

h2 {
	text-align: center;
	padding-top: 10px;
}

#tablekeys {
	margin: auto;
	margin-top: 40px;
	width: 860px;
	font-size: 13px;
}

#content_text {
	padding-left: 20px;
	padding-top: 30px;
}

.repobox {
	margin-top: 10px;
	font-size: 12px;
	color: #333;
	padding: 10px;
	background: #F0F0F0;
	border: 1px solid #DDD;
	border-radius: 3px;
}

.repobox input {
	margin: 2px 0 0 15px;
	height: 25px;
	width: 300px;
}

.repobox button {
	height: 25px;
}

.reponame {
	font-size: 18px;
	font-family: Verdana;
	color: #08C;
}

.news {
	margin-top: 30px;
	font-size: 12px;
	color: #333;
	padding: 13px;
	background: #FAFAFA;
	border: 1px solid #DDD;
	border-radius: 3px;
	margin-bottom: 50px;
}

.newstitle {
	margin-top: 30px;
	font-size: 16px;
	font-family: Verdana;
	color: #08C;
}

hr {
	margin-top: 10px;
}

.latest-commit-top {
	font-size: 13px;
	padding: 10px;
	border: 1px solid #C5D5DD;
	border-bottom: none;
	border-radius: 4px;
}

.latest-commit-bottom {
	margin-top: -5px;
	padding: 2px 2px 2px 10px;
	background: #F0F0F0;
	border: 1px solid #C5D5DD;
	border-radius: 4px;
}

.commit-sha {
	float: right;
	padding-right: 5px;
}

.files {
	margin-top: 30px;
	color: #333;
	padding: 13px;
	background: #FAFAFA;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	margin-bottom: 50px;
}

.files table {
	font-size: 13px;
}

.files thead {
	background: #F0F0F0;
	border: 1px solid #C5D5DD;
}

.branches {
	float: right;
}

#commitinfo {
	font-size: 13px;
	color: #333;
	background: #FAFAFA;
	margin-bottom: 40px;
}