{% extends "base/index.html" %}
{% block navigation %}
{% include "userprofile/profilemenu.html" %}
{% endblock %}
{% block content %}
<div class="content">
	<h2>Your SSH keys</h2>
	{% if keys %}
	<table id="tablekeys" class="table table-striped">
		<thead>
			<tr>
				<th>Key</th>
				<th>Key ID</th>
				<th>Date added</th>
				<th>Active</th>
				<th>Activate</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			{% for key in keys %}
			<tr>
				<td> {{ key.key|truncatechars:20 }} </td>
				<td> {{ key.keyid }} </td>
				<td> {{ key.datetime }} </td>
				<td> {% if key.active %} <i class="icon-ok"></i> {% else %} <i class="icon-remove"></i>  {% endif %} </td>
				<td> {% if not key.active %} <a href="activatekey/{{ key.id }}/">Activate</a> {% else %} <a href="deactivatekey/{{ key.id }}/">Deactivate</a> {% endif %} </td>
				<td> <a href="deletekey/{{ key.id }}/">Delete</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
		<div id="content_text">No SSH keys to display. Would you like to add new?</div>
	{% endif %}
</div>
{% endblock %}