<div id="navigation">
	<div id="child">
		<ul class="nav nav-pills" style="text-align: center">
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/users/viewprofile/{{ user.id }}">View your profile</a>
			</li>
			<li {% if activelink == "/users/my/" %} class="active" {% endif %}>
				<a href="/users/my">Edit your profile</a>
			</li>
			<li {% if activelink == "/users/my/listkeys/" %} class="active" {% endif %}>
				<a href="/users/my/listkeys">List all SSH keys</a>
			</li>
			<li {% if activelink == "/users/my/addkey/" %} class="active" {% endif %}>
				<a href="/users/my/addkey">Add new SSH key</a>
			</li>
		</ul>
	</div>
</div>