{% extends 'base/index.html' %}
{% block content %}
<div id="loginbox">
	<div class="well">
		<div style="color: red; text-align: center">
			{{ form.non_field_errors|striptags }}
		</div>
		<form class="form-horizontal" action="/users/register/" method="post">
			<h2 style="text-align: center">Registration</h2>
			<br />
			<fieldset>
				<div class="control-group">
					<label class="control-label" for="focusedInput">Username</label>
					<div class="controls">
						{{ form.username }} <br /> {{ form.username.errors|striptags }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="focusedInput">Password</label>
					<div class="controls">
						{{ form.password }} <br />{{ form.password.errors|striptags }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="focusedInput">Password again</label>
					<div class="controls">
						{{ form.password2 }} <br />{{ form.password2.errors|striptags }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="focusedInput">Email</label>
					<div class="controls">
						{{ form.email }} <br />{{ form.email.errors|striptags }}
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">
						Register
					</button>
					<button class="btn">
						Home
					</button>
				</div>
			</fieldset>
			{% csrf_token %}
		</form>
	</div>
</div>
{% endblock %}
